"""Quirk for {{manufacturer}} {{model}}."""

{% include "imports_template.j2" %}


class {{class_name}}(CustomDevice):
    """{{manufacturer.title()}} {{model}} custom device implementation."""

    signature = {
        MODELS_INFO: [("{{manufacturer}}", "{{model}}")],
        ENDPOINTS: {
            {% include "endpoints_template.j2" %}
        },
    }

    replacement = {
        ENDPOINTS: {
            {% include "endpoints_template.j2" %}
        },
    }

